body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-color: #409bdf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-logo {
  height: 12rem;
  pointer-events: none;
  padding-bottom: 24px;
}

.push-notification-title {
  font-size: 17px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.push-notification-text {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-primary {
  height: 48px;
  width: 150px;
  border-radius: 8px;
  border: 1px solid #2a63b0;
  background: #1a75ed;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
}

.btn-primary:active {
  border: 1px solid #1f4373;
}

.notification-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 16px;
  background: #3e5fcd;
  font-size: 16px;
}

.notification-banner-link {
  margin-left: 4px;
  color: #ffffff;
}
